/* Container Settings */
.main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

/* Navigation */
.links-conttainer {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.navCustom{
  width: 55vw;
  height: 5vh;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px !important;
  padding-right: 50px;
  align-items: center;
  justify-content: space-between;
  background-color: aqua;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
} 

.navCustom > div > a {
  color: black;
} 

/* Main Page */
.homePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.loginRegForm {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: [labels] auto [controls] 1fr;
  grid-auto-flow: row;
  gap: .8rem;
  justify-items: start;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #495057;
}

.loginRegForm > input {
  justify-self: center;
}

.form-check-label {
  grid-column: 1 !important;
  grid-row: 3 !important;
  justify-self: center;
}

.loginRegForm > label {
  grid-column: labels;
  grid-row: auto;
  justify-self: center;
}

.loginRegForm > input[type=checkbox]{
  grid-column: 2;
  margin-left: 8%;
  justify-self: start;
}

.form-control {
  width: 30vw !important;
  grid-column: controls;
  grid-row: auto;
  max-width: 400px;
}

.loginRegForm > button {
  width: 100%;
  grid-column: span 2;
  margin-top: 20px;
}

.form-group {
  display: flex;
  margin-bottom: 10px;
}

/* Multibox */
.multibox-custom {
  width: 50vw;
  height: 50vh;
}

.multibox-custom > header > div > div > div > button,
.multibox-custom > header {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.multibox-custom > div {
  height: calc(100% - 49px);
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 3%;
}

.custom-nav-link {
  width: 100%;
  justify-content: center;
  flex: 1;
}

.custom-nav-link > li {
  flex: 1;
}

.custom-nav-link > li > a {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-nav-link > li:first-child > a {
  border-top-left-radius: 16px;
  border-top-right-radius: 0px;
}

.custom-nav-link > li:nth-child(2) > a {
  border-top-left-radius: 0px;
  border-top-right-radius: 16px;
}

/* Glass Effect */
.glass-effect {
  background-image: initial !important;
  background-color: rgba(13, 96, 138, 0.2) !important;
  box-shadow: rgb(0 0 0 / 10%) 10px 10px 10px;
  border-color: rgba(48, 52, 54, 0.3);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  max-width: 650px;
}